@import "bourbon/bourbon";

//font weights
$medium:400; $semiBold:600; $bold:800;

//color palette:
$azulClaro:#5DA7CA; 		$azulOscuro:#0F5C7D;
$verdeClaro:#1CE8A0; 	$verdeOscuro:#23BC86;
$amarilloClaro:#FFDF57;	$amarilloOscuro:#F0C309;
$naranjaClaro:#FC8A51; 	$naranjaOscuro:#F4361C;
$rojoClaro:#F4000C; 		$rojoOscuro:#D3001A;

$buttonSide:4em;

body {margin:0; padding:0; text-align:center; 
	font-family:"Libre Franklin", "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace; font-weight:$medium}

.button {background:#575756; color:white; text-decoration:none; margin-top:1em; padding:0.4em 0.6em;
	&:hover {background:black; color:#white}
}

.screen { width:100%; height:100%; display:none; }

/* WELCOME */
#welcome {background:white; font-size:150%;
	.fork {position:relative; width:100%; height:100%; top:0; left:0; overflow:hidden;

		img.logo {max-width:60%; margin-top:3em}

		img.red, img.yellow, img.green {position:absolute; z-index:5; @include transition(all 4s ease); }
		.startEvent, em, .enterEvent, .findMore { @include transition(opacity 4s ease); }


		&.splash {
			img.green {width:50%; top:-20%; left:25%}
			img.yellow {height:25%; top:37.5%; left:37.5%}
			img.red {height:30%; bottom:-15%; left:35%}
			img.logo {margin-top:30%}
			.startEvent, em, .enterEvent, .findMore {opacity:0}
		}

		&.afterSplash {
			img.yellow {height:20%; top:2%; left:-4em}
			img.red {height:10%; top:80%; right:-4%}
			img.green {width:15%; top:95%; left:10%; @include transform(rotate(180deg)); }
			.startEvent, em, .enterEvent, .findMore {opacity:1}
		}

		.startEvent { margin:2em 0; margin-top:2em; text-decoration:none; text-transform:uppercase; padding:0.4em 0.6em; width:100%; 
			img { height:2.5em; vertical-align:middle}
			a {font-size:80%; line-height:1.2em; padding:1.2em 2em; padding-left:1.2em; margin-top:1.5em; }
		}
		em {display:block; font-style:normal; margin-top:0.5em; margin-bottom:2em; color:#585857}
		.enterEvent {margin:0 auto; position:relative; width:16em; height:3em;
			form {display:inline-block; height:1.5em}
			input[type=text] {font-size:200%; font-weight:800; color:#585857; border-width:0; border-bottom:3px solid black; background-color:transparent; text-align:center; width:8em; padding:0.2em 0; margin-top:0.5em; position:absolute; bottom:0; left:0; z-index:3}
			img {position:absolute; bottom:0; left:0.4em; width:2em; z-index:2}
			.label {position:absolute; top:1em; left:0; font-size:90%; width:18em; text-align:center; z-index:2; text-transform:uppercase; color:#585857}
			&.editing {
				.label {font-size:70%; width:23em; left:0; top:-1.4em}
				img {left:auto; right:0.4em}
			}
			.warning {color:#D21621; margin-top:2em}
		}

		.findMore {text-align:center; position:absolute; bottom:2%; width:100%; font-size:80%; color:#6E6E6D;
			img {width:1.5em; filter:invert(100%);}
		}
	}
	.about { padding:2em 0; background:#eee;
		p {max-width:30em; padding:1em; margin:1em auto; text-align:left}
		.logos {
			img {width:6em; vertical-align:middle}
		}
	}
}

/* NAME */
#name {text-align:center; background:white; font-size:150%; overflow:scroll;
	.enterYourName {position:relative; width:16em; height:3em; text-align:center; display:inline-block; margin:3.5em 0 1em 0;
		form.edit {display:inline-block;
			input[type=text] {font-size:200%; font-weight:800; color:#585857; border-width:0; border-bottom:3px solid black; background-color:transparent; text-align:center; width:8em; padding:0.2em 0; margin-top:0.5em; position:absolute; bottom:0; left:0; z-index:3}
		}
		.label {position:absolute; top:1em; left:0; font-size:90%; width:18em; text-align:center; z-index:2; text-transform:uppercase; color:#585857}
		&.editing {
			.label {font-size:70%; width:23em; left:0; top:-1.4em}
		}
	}
	.warning {color:#D21621; margin-top:5em}
	em {display:block; font-style:normal; margin-top:1em; color:#585857}
	.justWatch { position:absolute; bottom:5%; width:100%; text-align:center}
}

/* CLOCK */
#clock {
	.tally {position:absolute; top:2%; right:2%; width:50%; text-align:right; z-index:2; font-size:5em; color:white; opacity:0.5;
		.eventTime, .turns {font-size:20%; display:inline-block; vertical-align:top;
			em {font-size:200%; font-style:normal; display:inline-block; vertical-align:middle;}
		}
		.eventTime {margin-right:0.5em}
	}

	span#digits {font-family:"Open Sans"; font-weight:800; cursor:pointer; 
		vertical-align:middle; text-align:center;
		display:inline-block; user-select: none; position:relative; z-index:3;
		color:white;
		b {width:1px; height:1px; display:inline-block; overflow:hidden; color:transparent}
	}

	#bar {position:absolute; top:0; left:0; height:100%; width:100%; z-index:1; text-align:center; background:transparent;
		.progress {display:inline-block; position:absolute; bottom:0; left:0; width:100%; height:100%; background:#000;}
		.playReset {position:absolute; bottom:2%; left:0; width:100%; text-align:center; cursor:pointer; opacity:0.5; 
			.play { margin:2% 3%;
				display:none;
				width:0;
				height:0;
				border-top: $buttonSide solid transparent;
				border-bottom: $buttonSide solid transparent;
				border-left: $buttonSide*1.5 solid white;
			}
			.reset {position:relative; margin:2%; display:none;
				.maxDuration {position:absolute; top:0; color:white; font-size:2em; display:inline-block; width:$buttonSide; height:$buttonSide; line-height:$buttonSide+0.3; vertical-align:middle; text-align:center}
				img {
					width:$buttonSide*2;
					height:$buttonSide*2;
				}
			}
		}
	}

	.goToSettings {position:absolute; top:0; left:0; z-index:4; cursor:pointer; opacity:0.5;
		&:hover {opacity:1}
		img {
			margin:1em 0;
			height:5em;
		}
	}

	#bubbles {display:none; width:100%; height:100%; position:absolute; top:0; left:0; z-index:5;
		img {bottom:0; position:absolute; width:3em}
	}
	#interactions {display:none; width:100%; height:100%; position:absolute; z-index:4; top:0; left:0; text-align:center;
		img {@include filter(brightness(100));}
		div.turn { width:70%; background:black; padding:00; margin-bottom:1.5em; margin-top:15%; display:inline-block;
			img {height:7em; @include filter(brightness(100));}
			&:hover {background:white;
				img {height:7em; @include filter(brightness(0));}
			}
		}

		.agree, .heart {height:6em; margin:0;}
		.agree {margin-right:2.5em}
		.doubt, .sadness, .anger {height:6em; padding:0.5em 1em}

		img:hover {filter:invert(0%);}
	}

	.version {position:absolute; bottom:2%; left:2%;}
	.toggleParticipation { z-index:5; position:absolute; bottom:0; left:0;
		.justWatch, .participate {display:none; font-size:1.5em}
	}
}

/* APP STATE */
.landscape #clock #bar .playReset {text-align:right}

.narrowLandscape {
	#clock #bar .playReset {font-size:50%}
	.eventTime, .turns {font-size:25%}
}

.paused {background:$azulOscuro;
	#clock #bar {
		.progress {display:none}
		.playReset .play {display:inline-block;}
	}
}
.running, .half, .almost {
	#clock #bar {
		.progress {display:block}
		.playReset .reset {display:inline-block;}
	}
}

.running {background:$verdeClaro;
	#clock #bar .progress {background:$verdeOscuro}
}
.half {background:$amarilloClaro;
	#clock #bar .progress {background:$amarilloOscuro}
}
.almost {background:$naranjaClaro;
	#clock #bar .progress {background:$naranjaOscuro} 
}

.over {background:$rojoOscuro;
	span#digits {color:white;}
}

/* MAIN MODES */
#moderator {
	.toggleParticipation {display:none;
		/*.justWatch {display:inline-block}*/
		.participate {display:none}
	}
}

#presenter {
	#clock {overflow:hidden;
		span#digits {cursor:default}
		.playReset {display:none}
		.goToSettings {display:none}
		#bubbles {display:block}
	}
	.toggleParticipation {
		.participate {display:inline-block}
		.justWatch {display:none}
	}
}

#participant {
	#clock {
		span#digits {color:transparent; cursor:default}
		#interactions {display:block}
		.playReset {display:none}
		.goToSettings {display:none}
	}
	.toggleParticipation {
		.participate {display:none}
		.justWatch {display:inline-block}
	}
}

#clock {position:relative; z-index:1; top:0; left:0; width:100%; height:100%}

/* SETTINGS */
#settings {background:white; padding:5% 0; font-size:120%; 

	h2 {margin:0; margin-top:1em; font-weight:$medium; text-transform:uppercase;}

	a {text-decoration:none; display:inline-block}

	a.exit {font-weight:bold; background:black; font-size:150%; color:white; padding:0.5em 1em}
	.pin {
		strong {display:block; font-size:7em; padding:0; line-height:0.9em; font-family:"Open Sans"; font-weight:$bold}
	}

	.durations {margin:2em 1em; margin-top:0.5em; border:1px solid black; padding:1em 0; width:90%; margin:5%; font-family:"Open Sans"; font-weight:$semiBold;
		h2 {margin:0}
		a, input[type=text] {font-size:150%; padding:0.2em 0.5em; margin:0.4em 0.2em; }
		a.custom {display:none}
		form {display:inline-block; margin:0; padding:0; position:relative; width:3em; height:2.7em; //background:red;
			input[type=text] {width:2em; height:1em; color:#aaa; border:0; border-bottom:2px solid black;}
			img.edit {height:1.5em; position:absolute; bottom:0; left:0; vertical-align:middle}
		}
	}

	ul {max-width:20em; margin:0.5em auto;
		li {text-align:left; background:#eee; margin:0.2em; padding:0.3em;
			&.edit {background:transparent}
		}
	}
	div.participants, div.topics {
		img {width:1em}
	}

	a.selected, a.soundToggle, a.colorToggle {font-weight:$bold; background:black; color:white; padding:0.2em 0.5em}
	div.sound, div.steps, div.color {margin:2em 1em; font-size:120%}
	div.steps a {display:inline-block; margin-right:1em}
}

body.colorMuted {background:white !important;
	/*.settings {*/
		/*a.exit {background:#aaa}*/
	/*}*/

	#clock {
		span#digits, .tally {color:black}
		#bar .playReset {
			.play { border-left: $buttonSide*1.5 solid black; }
			.reset {
				.maxDuration {color:black}
			}
		}
		img {filter:invert(100%);}
	}

	&.running, &.half, &.almost {
		#clock #bar .progress {background:#ccc}
	}
	
	&.over {background:black !important;
		#clock {
			span#digits, .tally {color:white}
			#bar .playReset {
				.play { border-left: $buttonSide*1.5 solid white; }
				.reset {
					.maxDuration {color:white}
				}
			}
			img {filter:invert(0%);}
		}
	}
}
