body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Libre Franklin", "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  font-weight: 400; }

.button {
  background: #575756;
  color: white;
  text-decoration: none;
  margin-top: 1em;
  padding: 0.4em 0.6em; }
  .button:hover {
    background: black;
    color: #white; }

.screen {
  width: 100%;
  height: 100%;
  display: none; }

/* WELCOME */
#welcome {
  background: white;
  font-size: 150%; }
  #welcome .fork {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
    #welcome .fork img.logo {
      max-width: 60%;
      margin-top: 3em; }
    #welcome .fork img.red, #welcome .fork img.yellow, #welcome .fork img.green {
      position: absolute;
      z-index: 5;
      -webkit-transition: all 4s ease;
      -moz-transition: all 4s ease;
      transition: all 4s ease; }
    #welcome .fork .startEvent, #welcome .fork em, #welcome .fork .enterEvent, #welcome .fork .findMore {
      -webkit-transition: opacity 4s ease;
      -moz-transition: opacity 4s ease;
      transition: opacity 4s ease; }
    #welcome .fork.splash img.green {
      width: 50%;
      top: -20%;
      left: 25%; }
    #welcome .fork.splash img.yellow {
      height: 25%;
      top: 37.5%;
      left: 37.5%; }
    #welcome .fork.splash img.red {
      height: 30%;
      bottom: -15%;
      left: 35%; }
    #welcome .fork.splash img.logo {
      margin-top: 30%; }
    #welcome .fork.splash .startEvent, #welcome .fork.splash em, #welcome .fork.splash .enterEvent, #welcome .fork.splash .findMore {
      opacity: 0; }
    #welcome .fork.afterSplash img.yellow {
      height: 20%;
      top: 2%;
      left: -4em; }
    #welcome .fork.afterSplash img.red {
      height: 10%;
      top: 80%;
      right: -4%; }
    #welcome .fork.afterSplash img.green {
      width: 15%;
      top: 95%;
      left: 10%;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    #welcome .fork.afterSplash .startEvent, #welcome .fork.afterSplash em, #welcome .fork.afterSplash .enterEvent, #welcome .fork.afterSplash .findMore {
      opacity: 1; }
    #welcome .fork .startEvent {
      margin: 2em 0;
      margin-top: 2em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.4em 0;
      width: 100%; }
      #welcome .fork .startEvent img {
        height: 2.5em;
        vertical-align: middle; }
      #welcome .fork .startEvent a {
        font-size: 80%;
        line-height: 1.2em;
        padding: 1.2em 2em;
        padding-left: 1.2em;
        margin-top: 1.5em; }
    #welcome .fork em {
      display: block;
      font-style: normal;
      margin-top: 0.5em;
      margin-bottom: 2em;
      color: #585857; }
    #welcome .fork .enterEvent {
      margin: 0 auto;
      position: relative;
      width: 16em;
      max-width: 90%;
      height: 3em; }
      #welcome .fork .enterEvent form {
        display: inline-block;
        height: 1.5em; }
      #welcome .fork .enterEvent input[type=number] {
        font-size: 200%;
        font-weight: 800;
        color: #585857;
        border-width: 0;
        border-bottom: 3px solid black;
        background-color: transparent;
        text-align: center;
        width: 8em;
        max-width: 100%;
        padding: 0.2em 0;
        margin-top: 0.5em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3; }
      #welcome .fork .enterEvent img {
        position: absolute;
        bottom: 0;
        left: 0.4em;
        width: 2em;
        z-index: 2; }
      #welcome .fork .enterEvent .label {
        position: absolute;
        top: 1em;
        left: 0;
        font-size: 90%;
        width: 18em;
        max-width: 100%;
        text-align: center;
        z-index: 2;
        text-transform: uppercase;
        color: #585857; }
      #welcome .fork .enterEvent.editing .label {
        font-size: 70%;
        width: 23em;
        left: 0;
        top: -1.4em; }
      #welcome .fork .enterEvent.editing img {
        left: auto;
        right: 0.4em; }
      #welcome .fork .enterEvent .warning {
        color: #D21621;
        margin-top: 2em;
        font-size: 80%; }
    #welcome .fork .findMore {
      text-align: center;
      position: absolute;
      bottom: 2%;
      width: 100%;
      font-size: 80%;
      color: #6E6E6D; }
      #welcome .fork .findMore img {
        width: 1.5em;
        filter: invert(100%); }
  #welcome .about {
    padding: 2em 0;
    background: #eee;
    border-top: 1px solid black; }
    #welcome .about hr {
      width: 80%; }
    #welcome .about p {
      max-width: 30em;
      padding: 1em;
      margin: 0.5em auto;
      text-align: left; }
      #welcome .about p.slogan {
        font-size: 100%;
        max-width: 80%;
        text-align: center; }
        #welcome .about p.slogan img {
          width: 7em; }
    #welcome .about ol {
      width: 80%;
      margin: 0 auto;
      text-align: left; }
      #welcome .about ol ul {
        color: #777;
        font-size: 80%; }
        #welcome .about ol ul li {
          margin-bottom: 1em; }
    #welcome .about .logos {
      margin-top: 1em;
      text-align: center; }
      #welcome .about .logos img {
        height: 3em;
        vertical-align: middle;
        margin-right: 1em; }

/* NAME */
#name {
  text-align: center;
  background: white;
  font-size: 150%;
  overflow: scroll; }
  #name .enterYourName {
    position: relative;
    width: 16em;
    max-width: 90%;
    height: 3em;
    text-align: center;
    display: inline-block;
    margin: 3.5em 0 1em 0; }
    #name .enterYourName form.edit {
      display: inline-block; }
      #name .enterYourName form.edit input[type=text] {
        font-size: 200%;
        font-weight: 800;
        color: #585857;
        border-width: 0;
        border-bottom: 3px solid black;
        background-color: transparent;
        text-align: center;
        width: 8em;
        max-width: 100%;
        padding: 0.2em 0;
        margin-top: 0.5em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3; }
    #name .enterYourName .label {
      position: absolute;
      top: 1em;
      left: 0;
      font-size: 110%;
      width: 15em;
      max-width: 100%;
      text-align: center;
      z-index: 2;
      text-transform: uppercase;
      color: #585857; }
    #name .enterYourName.editing .label {
      font-size: 70%;
      width: 23em;
      left: 0;
      top: -1.7em; }
  #name .warning {
    color: #D21621;
    margin-top: 1em; }
  #name em {
    display: block;
    font-style: normal;
    margin: 2em 0;
    color: #585857; }
  #name .justWatch {
    margin-top: 5em;
    text-align: center; }

/* CLOCK */
#clock .tally {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50%;
  text-align: right;
  z-index: 2;
  font-size: 5em;
  color: white;
  opacity: 0.5; }
  #clock .tally .eventTime, #clock .tally .turns {
    font-size: 20%;
    display: inline-block;
    vertical-align: top; }
    #clock .tally .eventTime em, #clock .tally .turns em {
      font-size: 200%;
      font-style: normal;
      display: inline-block;
      vertical-align: middle; }
  #clock .tally .eventTime {
    margin-right: 0.5em; }
#clock span#digits {
  font-family: "Open Sans";
  font-weight: 800;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  user-select: none;
  position: relative;
  z-index: 3;
  color: white; }
  #clock span#digits b {
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    color: transparent; }
#clock #bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  background: transparent; }
  #clock #bar .progress {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; }
  #clock #bar .playReset {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    opacity: 0.5; }
    #clock #bar .playReset .play {
      margin: 2% 3%;
      display: none;
      width: 0;
      height: 0;
      border-top: 3.33333em solid transparent;
      border-bottom: 3.33333em solid transparent;
      border-left: 5em solid white; }
    #clock #bar .playReset .reset {
      position: relative;
      margin: 2%;
      display: none; }
      #clock #bar .playReset .reset .maxDuration {
        position: absolute;
        top: 0;
        color: white;
        font-size: 2em;
        display: inline-block;
        width: 4em;
        height: 4em;
        line-height: 4.3em;
        vertical-align: middle;
        text-align: center; }
      #clock #bar .playReset .reset img {
        width: 8em;
        height: 8em; }
#clock .goToSettings {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  cursor: pointer;
  opacity: 0.5; }
  #clock .goToSettings:hover {
    opacity: 1; }
  #clock .goToSettings img {
    margin: 1em 0;
    height: 5em; }
#clock #bubbles {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; }
  #clock #bubbles img {
    bottom: 0;
    position: absolute;
    width: 20%; }
#clock #interactions {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  text-align: center; }
  #clock #interactions img {
    -webkit-filter: brightness(100);
    filter: brightness(100); }
  #clock #interactions div.turn {
    width: 70%;
    background: black;
    padding: 00;
    margin-bottom: 1.5em;
    margin-top: 15%;
    display: inline-block; }
    #clock #interactions div.turn img {
      height: 7em;
      -webkit-filter: brightness(100);
      filter: brightness(100);
      vertical-align: middle; }
    #clock #interactions div.turn span.label {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-size: 2.5em; }
    #clock #interactions div.turn:hover {
      background: white; }
      #clock #interactions div.turn:hover img {
        height: 7em;
        -webkit-filter: brightness(0);
        filter: brightness(0); }
      #clock #interactions div.turn:hover span.label {
        color: black; }
  #clock #interactions .agree, #clock #interactions .heart {
    height: 6em;
    margin: 0; }
  #clock #interactions .agree {
    margin-right: 2.5em; }
  #clock #interactions .doubt, #clock #interactions .sadness, #clock #interactions .anger {
    height: 5em;
    padding: 0.5em 1em; }
  #clock #interactions img:hover {
    filter: invert(0%); }
#clock #queue {
  width: 100%;
  display: none;
  padding: 1em 0;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  color: white; }
  #clock #queue h2 {
    margin: 0;
    padding: 0.5em 0;
    font-weight: 400;
    font-size: 100%;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2em; }
    #clock #queue h2 img {
      height: 2em;
      vertical-align: middle;
      margin-right: 0.3em;
      -webkit-filter: brightness(100);
      filter: brightness(100); }
  #clock #queue div.pin {
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: left; }
    #clock #queue div.pin strong {
      display: block;
      font-size: 8em; }
  #clock #queue ul {
    padding: 0 10%;
    padding-bottom: 0%;
    text-align: left;
    font-size: 120%;
    margin: 0; }
    #clock #queue ul.add li {
      list-style-type: none;
      border: 1px solid white;
      display: inline-block;
      padding: 2%;
      margin-right: 2%; }
      #clock #queue ul.add li:hover {
        background: white;
        color: #575756; }
#clock .version {
  position: absolute;
  bottom: 2%;
  left: 2%; }
#clock .toggleParticipation {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.5; }
  #clock .toggleParticipation:hover {
    opacity: 1; }
  #clock .toggleParticipation .justWatch, #clock .toggleParticipation .participate, #clock .toggleParticipation .endYourTurn {
    display: none;
    font-size: 1.5em; }

#report {
  color: white;
  padding: 2em 0; }
  #report p {
    margin: 5%; }
  #report img {
    width: 100%; }

/* APP STATE */
.landscape #clock #bar .playReset {
  text-align: right; }

.narrowLandscape #clock #bar .playReset {
  font-size: 50%; }
.narrowLandscape .eventTime, .narrowLandscape .turns {
  font-size: 25%; }

.paused {
  background: #316AB2; }
  .paused #clock #queue {
    background: #316AB2; }
  .paused #clock #bar .progress {
    display: none; }
  .paused #clock #bar .playReset .play {
    display: inline-block; }

.running #clock #bar .progress, .half #clock #bar .progress, .almost #clock #bar .progress {
  display: block; }
.running #clock #bar .playReset .reset, .half #clock #bar .playReset .reset, .almost #clock #bar .playReset .reset {
  display: inline-block; }

.running {
  background: #1CE8A0; }
  .running #clock #queue, .running #clock #bar .progress {
    background: #23BC86; }

.half {
  background: #FFDF57; }
  .half #clock #queue, .half #clock #bar .progress {
    background: #F0C309; }

.almost {
  background: #FC8A51; }
  .almost #clock #queue, .almost #clock #bar .progress {
    background: #F4361C; }

.over {
  background: #D3001A; }
  .over #clock #queue {
    background: #D3001A; }
  .over span#digits {
    color: white; }

/* MAIN MODES */
#moderator {
  /*#bubbles {display:block}*/ }
  #moderator #queue {
    display: block; }
  #moderator .toggleParticipation {
    display: none;
    /*.justWatch {display:inline-block}*/ }
    #moderator .toggleParticipation .participate {
      display: none; }

#presenter #clock {
  overflow: hidden; }
  #presenter #clock span#digits {
    cursor: default; }
  #presenter #clock .playReset {
    display: none; }
  #presenter #clock .goToSettings {
    display: none; }
  #presenter #clock #bubbles {
    display: block; }
#presenter .toggleParticipation .participate {
  display: inline-block; }
#presenter .toggleParticipation .justWatch {
  display: none; }

#participant #clock span#digits {
  color: transparent;
  cursor: default; }
#participant #clock #interactions {
  display: block; }
#participant #clock .playReset {
  display: none; }
#participant #clock .goToSettings {
  display: none; }
#participant .toggleParticipation .participate {
  display: none; }
#participant .toggleParticipation .justWatch {
  display: inline-block; }

#clock {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* SETTINGS */
#settings {
  background: #5B94CF;
  padding: 0;
  padding-bottom: 1.5em;
  font-size: 120%;
  color: white; }
  #settings h2 {
    margin: 0;
    padding: 0.5em 0;
    font-weight: 400;
    font-size: 100%;
    text-transform: uppercase;
    color: #0B3471;
    text-align: left;
    padding-left: 2em; }
    #settings h2 img {
      height: 2em;
      vertical-align: middle;
      margin-right: 0.3em; }
  #settings a.exit, #settings a.endEvent {
    font-size: 120%;
    color: white;
    padding: 0.5em 1em; }
    #settings a.exit img, #settings a.endEvent img {
      -webkit-filter: brightness(100);
      filter: brightness(100);
      height: 1.5em;
      vertical-align: middle; }
  #settings .pin {
    padding: 1.5em 0;
    background: #316AB2; }
    #settings .pin h2 {
      padding-top: 1em;
      padding-bottom: 0; }
    #settings .pin strong {
      display: block;
      font-size: 7em;
      padding: 0;
      line-height: 0.9em;
      font-family: "Open Sans";
      font-weight: 800; }
  #settings .durations {
    padding: 0.5em 0 1em 0;
    width: 100%;
    font-family: "Open Sans";
    font-weight: 600;
    background: #3973B9; }
    #settings .durations h2 {
      margin: 0; }
    #settings .durations a, #settings .durations input[type=text] {
      font-size: 180%;
      padding: 0.2em 0.5em;
      display: inline-block; }
    color:white
    #settings .durations a:hover {
      background: #white;
      color: #2654A2; }
    #settings .durations a.custom {
      display: none; }
    #settings .durations .addDuration {
      position: relative;
      width: 4em;
      height: 2.5em;
      text-align: left;
      display: inline-block;
      margin: 0; }
      #settings .durations .addDuration form {
        display: inline-block; }
        #settings .durations .addDuration form input[type=text] {
          width: 2em;
          height: 1em;
          color: #aaa;
          background: transparent;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          border: 0; }
        #settings .durations .addDuration form img.edit {
          height: 3em;
          position: absolute;
          bottom: 0;
          left: 0;
          vertical-align: middle;
          z-index: 2; }
      #settings .durations .addDuration.editing input[type=text] {
        border: 0;
        border-bottom: 2px solid #0B3471; }
  #settings ul {
    max-width: 20em;
    margin: 0 auto; }
    #settings ul li {
      text-align: left;
      background: transparent;
      margin: 0.2em;
      padding: 0.3em; }
      #settings ul li.edit {
        background: transparent;
        list-style-type: none; }
  #settings div.participants, #settings div.topics {
    background: #407ABE;
    padding-bottom: 1em; }
    #settings div.participants .addParticipant, #settings div.topics .addParticipant {
      position: relative;
      width: 16em;
      height: 2.5em;
      text-align: left;
      display: inline-block;
      margin: 0; }
      #settings div.participants .addParticipant form.edit, #settings div.topics .addParticipant form.edit {
        display: inline-block; }
        #settings div.participants .addParticipant form.edit input[type=text], #settings div.topics .addParticipant form.edit input[type=text] {
          font-size: 200%;
          font-weight: 800;
          color: white;
          border-width: 0;
          border-bottom: 3px solid #0B3471;
          background-color: transparent;
          text-align: left;
          width: 8em;
          padding: 0.2em 0;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3; }
      #settings div.participants .addParticipant .label, #settings div.topics .addParticipant .label {
        position: absolute;
        top: 0.5em;
        left: 0;
        font-size: 110%;
        width: 15em;
        text-align: left;
        z-index: 2;
        text-transform: uppercase;
        color: #0B3471; }
      #settings div.participants .addParticipant.editing .label, #settings div.topics .addParticipant.editing .label {
        font-size: 70%;
        width: 23em;
        left: 0;
        top: -1.7em; }
  #settings div.advanced {
    background: #4A83C4;
    padding-bottom: 1.5em; }
    #settings div.advanced .columns .sound, #settings div.advanced .columns .vibration, #settings div.advanced .columns .color {
      width: 30%;
      display: inline-block;
      color: #0B3471; }
      #settings div.advanced .columns .sound a, #settings div.advanced .columns .vibration a, #settings div.advanced .columns .color a {
        display: inline-block;
        margin-top: 0.5em; }
    #settings div.advanced img {
      height: 2em;
      vertical-align: middle; }
  #settings a.selected, #settings a.soundToggle, #settings a.colorToggle, #settings a.vibrationToggle {
    font-weight: 800;
    background: #0B3471;
    color: white;
    padding: 0.2em 0.5em; }
  #settings div.steps {
    padding-bottom: 1.5em;
    margin-bottom: 1em; }
    #settings div.steps a {
      display: inline-block;
      margin-right: 1em;
      font-size: 180%; }
  #settings a {
    text-decoration: none;
    color: white !important; }

body.colorMuted {
  background: white !important;
  /*.settings {*/
  /*a.exit {background:#aaa}*/
  /*}*/ }
  body.colorMuted #clock span#digits, body.colorMuted #clock .tally {
    color: black; }
  body.colorMuted #clock #bar .playReset .play {
    border-left: 6em solid black; }
  body.colorMuted #clock #bar .playReset .reset .maxDuration {
    color: black; }
  body.colorMuted #clock img {
    filter: invert(100%); }
  body.colorMuted #clock #interactions img {
    -webkit-filter: brightness(0);
    filter: brightness(0); }
  body.colorMuted #clock #interactions div.turn img {
    -webkit-filter: brightness(100);
    filter: brightness(100); }
  body.colorMuted #clock #interactions div.turn:hover img {
    -webkit-filter: brightness(0);
    filter: brightness(0); }
  body.colorMuted #clock #bubbles img {
    -webkit-filter: grayscale(100%) brightness(2);
    filter: grayscale(100%) brightness(2); }
  body.colorMuted.running #clock #queue, body.colorMuted.half #clock #queue, body.colorMuted.almost #clock #queue {
    background: #ccc; }
  body.colorMuted.running #clock #bar .progress, body.colorMuted.half #clock #bar .progress, body.colorMuted.almost #clock #bar .progress {
    background: #ccc; }
  body.colorMuted.over {
    background: black !important; }
    body.colorMuted.over #clock #queue {
      background: black; }
    body.colorMuted.over #clock span#digits, body.colorMuted.over #clock .tally {
      color: white; }
    body.colorMuted.over #clock #bar .playReset .play {
      border-left: 6em solid white; }
    body.colorMuted.over #clock #bar .playReset .reset .maxDuration {
      color: white; }
    body.colorMuted.over #clock img {
      filter: invert(0%); }

/*# sourceMappingURL=style.css.map */
