//font weights
$medium:400; $semiBold:600; $bold:800;

//color palette:
$azulClaro:#5DA7CA; 		$azulOscuro:#0F5C7D;
$verdeClaro:#1CE8A0; 	$verdeOscuro:#23BC86;
$amarilloClaro:#FFDF57;	$amarilloOscuro:#F0C309;
$naranjaClaro:#FC8A51; 	$naranjaOscuro:#F4361C;
$rojoClaro:#F4000C; 		$rojoOscuro:#D3001A;

$buttonSide:4em;

body {margin:0; padding:0; text-align:center; 
	font-family:"Libre Franklin", "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace; font-weight:$medium}
