body {margin:0; padding:0; text-align:center; overflow:hidden}
$buttonSide:4em;

// color palette:
$azulClaro:#5DA7CA; 		$azulOscuro:#0F5C7D;
$verdeClaro:#1CE8A0; 	$verdeOscuro:#23BC86;
$amarilloClaro:#FFDF57;	$amarilloOscuro:#F0C309;
$naranjaClaro:#FC8A51; 	$naranjaOscuro:#F4361C;
$rojoClaro:#F4000C; 		$rojoOscuro:#D3001A;

body {font-family:"Roboto", "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace; font-weight:100}

.welcome {position:absolute; top:0; left:0; width:100%; height:100%; background:$azulClaro; font-size:150%; overflow:scroll;
	.fork {
		h1 {font-weight:100; font-size:3em; line-height:0.9em; text-transform:uppercase;
			b {font-weight:400}
		}

		b {font-weight:900;}

		.startEvent { margin:2em; margin-top:3em; text-decoration:none; padding:0.4em 0.6em; 
			a {background:black; color:white; font-size:130%; text-decoration:none; margin-top:3em; padding:0.4em 0.6em;}
		}
		em {display:block; margin:3em 0}

		.enterEvent {margin:0 auto; position:relative; width:16em; height:3em;
			b {font-weight:900;}
			input[type=text] {font-size:200%; font-weight:900; color:black; border-width:0; border-bottom:3px solid black; background-color:transparent; text-align:center; width:8em; padding:0.2em 0; margin-top:0.5em; position:absolute; bottom:0; left:0; z-index:3}
			img {position:absolute; bottom:0; left:0.4em; width:2em; z-index:2}
			.label {position:absolute; top:0.5em; left:2.1em; font-size:130%; z-index:2}
		}

		.version {position:absolute; bottom:2%; left:2%;}
		.findMore {text-align:center; position:absolute; bottom:2%; width:100%; font-size:80%;
			img {width:1.5em; filter:invert(100%);}
		}
	}
	.about { margin:2em 0;
		p {width:30em; margin:2em auto; text-align:left}
	}
}

.clock {visibility:hidden; position:fixed; top:0; left:0;
	.tally {position:absolute; top:2%; right:2%; width:50%; text-align:right; z-index:2; font-size:5em; color:white; opacity:0.5;
		.eventTime, .turns {font-size:50%; display:inline-block; vertical-align:top;
			em {font-size:200%; font-style:normal; display:inline-block; vertical-align:middle;}
		}
		.eventTime {margin-right:0.5em}
	}

	span.digits {
		font-weight:900; cursor:pointer; 
		vertical-align:middle; text-align:center;
		display:inline-block; user-select: none; position:relative; z-index:3;
		color:white;
		b {width:1px; height:1px; display:inline-block; overflow:hidden; color:transparent}
	}

	.bar {position:absolute; top:0; left:0; height:100%; width:100%; z-index:1; text-align:center; opacity:0.5; background:transparent;
		.progress {display:inline-block; position:absolute; bottom:0; left:0; width:100%; height:100%; background:#000;}
		.playReset {position:absolute; bottom:0; left:0; width:100%; text-align:center; cursor:pointer;
			.play { margin:2% 3%;
				display:none;
				width:0;
				height:0;
				border-top: $buttonSide solid transparent;
				border-bottom: $buttonSide solid transparent;
				border-left: $buttonSide*1.5 solid $azulOscuro;
			}
			.reset {position:relative; margin:2%; display:none;
				.maxDuration {position:absolute; top:0; color:white; font-size:2em; display:inline-block; width:$buttonSide; height:$buttonSide; line-height:$buttonSide+0.3; vertical-align:middle; text-align:center}
				img {
					width:$buttonSide*2;
					height:$buttonSide*2;
				}
			}
		}
	}

	.goToSettings {position:absolute; top:0; left:0; z-index:4; cursor:pointer;
		img {
			margin: $buttonSide*0.5;
			width:$buttonSide*1.2;
			height:$buttonSide*1.2;
		}
	}
	.version {position:absolute; bottom:2%; left:2%;}
}

/* APP STATE */

.landscape .bar .playReset {text-align:right}

.narrowLandscape {
	.bar .playReset {font-size:50%}
	.eventTime, .turns {font-size:25%}
}

.paused {background:$azulClaro;
	.bar {
		.progress {display:none}
		.playReset .play {display:inline-block;}
	}
}
.running, .half, .almost {
	.bar {
		.progress {display:block}
		.playReset .reset {display:inline-block;}
	}
}

.running {background:$verdeClaro;
	.bar .progress {background:$verdeOscuro}
}
.half {background:$amarilloClaro;
	.bar .progress {background:$amarilloOscuro}
}
.almost {background:$naranjaClaro;
	.bar .progress {background:$naranjaOscuro} 
}

.over {background:$rojoOscuro;
	span.digits {color:white;}
}

.clock {position:relative; z-index:1; top:0; left:0; width:100%; height:100%}

.settings {visibility:hidden; position:fixed; top:0; left:0; width:100%; height:100%; z-index:2; background:white; 
	padding:5% 0; font-size:120%;
	a {text-decoration:none; display:inline-block}

	a.exit {font-weight:bold; background:black; font-size:150%; color:white; padding:0.5em 1em}
	.pin {
		strong {display:block; font-size:10em; padding:0; line-height:0.9em}
	}

	.durations {margin:2em 1em; margin-top:0.5em; border:1px solid black; padding:1em 0; width:90%; margin:5%;
		a, input[type=text] {font-size:150%; padding:0.2em 0.5em; margin:0.4em 0.2em; }
		a.custom {display:none}
		form {display:inline-block; margin:0; padding:0;
			input[type=text] {width:2em; color:#aaa}
			img.edit {width:3em; height:3em; display:none; vertical-align:middle}
		}
	}
	a.selected, a.soundToggle, a.colorToggle {font-weight:bold; background:black; color:white; padding:0.2em 0.5em}
	div.sound, div.steps, div.color {margin:2em 1em; font-size:120%}
	div.steps a {display:inline-block; margin-right:1em}
}

body.colorMuted {background:white !important;
	/*.settings {*/
		/*a.exit {background:#aaa}*/
	/*}*/
	.clock {
		span.digits, .tally {color:black}
		.playReset {
			.play { border-left: $buttonSide*1.5 solid black; }
			.reset {
				.maxDuration {color:black}
			}
		}
		img {filter:invert(100%);}
	}

	&.running, &.half, &.almost {
		.bar .progress {background:#ccc}
	}
	
	&.over {background:black !important;
		.clock {
			span.digits, .tally {color:white}
			.playReset {
				.play { border-left: $buttonSide*1.5 solid white; }
				.reset {
					.maxDuration {color:white}
				}
			}
			img {filter:invert(0%);}
		}
	}
}
