body {margin:0; padding:0; text-align:center; overflow:hidden}
$buttonSide:4em;

// Eliana 2
$azulClaro:#5DA7CA;
	$azulOscuro:#0F5C7D;
$verdeClaro:#1CE8A0;
	$verdeOscuro:#23BC86;
$amarilloClaro:#FFDF57;
	$amarilloOscuro:#F0C309;
$naranjaClaro:#FC8A51;
//#FD5841;
	$naranjaOscuro:#F4361C;
$rojoClaro:#F4000C;
	$rojoOscuro:#D3001A;
$letraNegativo:#ffffff;

.tally, .digits, .maxDuration {font-family:"Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;}

.tally {position:absolute; top:2%; right:2%; width:50%; text-align:right; z-index:2; font-size:5em; color:white; opacity:0.5;
	.eventTime, .turns {font-size:50%; display:inline-block; vertical-align:top;
		em {font-size:200%; font-style:normal; display:inline-block; vertical-align:middle;}
	}
	.eventTime {margin-right:0.5em}
}

span.digits {
	font-weight:bold; cursor:pointer; 
	vertical-align:middle; text-align:center;
	display:inline-block; user-select: none; position:relative; z-index:3;
	color:white;
	b {width:1px; height:1px; display:inline-block; overflow:hidden; color:transparent}
}

.bar {position:absolute; top:0; left:0; height:100%; width:100%; z-index:1; text-align:center; opacity:0.5; background:transparent;
	.progress {display:inline-block; position:absolute; bottom:0; left:0; width:100%; height:100%; background:#000;}
	.playReset {position:absolute; bottom:0; left:0; width:100%; text-align:center; cursor:pointer;
		.play { margin:2% 3%;
			display:none;
			width:0;
			height:0;
			border-top: $buttonSide solid transparent;
			border-bottom: $buttonSide solid transparent;
			border-left: $buttonSide*1.5 solid $azulOscuro;
		}
		.reset {position:relative; margin:2%; display:none;
			.maxDuration {position:absolute; top:0; color:white; font-size:2em; display:inline-block; width:$buttonSide; height:$buttonSide; line-height:$buttonSide+0.3; vertical-align:middle; text-align:center}
			img {
				width:$buttonSide*2;
				height:$buttonSide*2;
			}
		}
	}
}

.landscape .bar .playReset {text-align:right}
.narrowLandscape {
	.bar .playReset {font-size:50%}
	.eventTime, .turns {font-size:25%}
}

.paused {background:$azulClaro;
	.bar {
		.progress {display:none}
		.playReset .play {display:inline-block;}
	}
}
.running, .half, .almost {
	.bar {
		.progress {display:block}
		.playReset .reset {display:inline-block;}
	}
}
.running {background:$verdeClaro;
	.bar .progress {background:$verdeOscuro}
}
.half {background:$amarilloClaro;
	.bar .progress {background:$amarilloOscuro}
}
.almost {background:$naranjaClaro;
	.bar .progress {background:$naranjaOscuro}
}

.over {background:$rojoOscuro;
	span.digits {color:$letraNegativo;}
}
